.item {
    list-style: none;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
}